<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}" data-theme="dark">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {{ if .IsPage }}<div class="progress" aria-hidden="true"><div class="progress__bar"></div></div>{{ end }}

  {{ partial "header.html" . }}

  <main id="main">
    <div class="wrap">
      {{ block "main" . }}{{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}

  {{- $js := resources.Get "js/main.js" | minify | fingerprint -}}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>
</html>
